CONFIG_CAMERA_SUPPORT=y
CONFIG_OV2640_SUPPORT=y

CONFIG_XCLK_FREQ=20000000

CONFIG_PIN_PWDN=47
CONFIG_PIN_RESET=48

CONFIG_PIN_XCLK=15
CONFIG_PIN_SIOD=4
CONFIG_PIN_SIOC=5

CONFIG_PIN_D7=16
CONFIG_PIN_D6=17
CONFIG_PIN_D5=18
CONFIG_PIN_D4=12
CONFIG_PIN_D3=10
CONFIG_PIN_D2=8
CONFIG_PIN_D1=9
CONFIG_PIN_D0=11

CONFIG_PIN_VSYNC=2
CONFIG_PIN_HREF=14
CONFIG_PIN_PCLK=13
